

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Bootstrap overrides */
  --bs-body-bg: var(--background);
  --bs-body-color: var(--foreground);
  --bs-font-sans-serif: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --bs-body-bg: var(--background);
    --bs-body-color: var(--foreground);
  }
}

body {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: var(--bs-font-sans-serif);
}
